
{% extends 'base.html' %}

{% block content %}
<h2 style="
    font-size:30px;
    font-family: 'Georgia', serif;
    color:white;
    margin-top:30px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.3),
                 0 0 25px #ff60c8;">About Us</h2>
<p><b><i>Welcome to Sweet Cake Shop! We bake fresh cakes everyday with love and perfection.</i></b></p>

<p style="color:lavender"><br>
We specialize in:
<ul style="color:lavender">
    <li>Birthday Cakes</li>
    <li>Wedding Cakes</li>
    <li>Customized Cakes</li>
    <li>Pastries and Desserts</li>
</ul>
</p>

<h2  style="
    font-size:30px;
    font-family: 'Georgia', serif;
    color:white;
    margin-top:30px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.3),
                 0 0 25px #ff60c8;"><br>Where you can Find Us</h2>

<p style="color:lavender"><strong>Phone:</strong> +91 98765 43210</p>
<p style="color:lavender"><strong>Email:</strong> sweetdelights@gmail.com</p>
<p style="color:lavender"><strong>Address:</strong> Mall Road, Manali, Himachal Pradesh</p>

<p ><i><b><br>Quality and happiness are our main ingredients 🖤! </b></i></p>
{% endblock %}
